In [39]:
import pandas as pd
import os
from tqdm import tqdm
from datetime import datetime, timedelta

dir_path = 'C:/Users/stucws/Documents/astar/data/demand_datasets/'
files = [file for file in os.listdir(dir_path) if file.endswith('.csv')]

dfs = []

for file in files:
    dfs.append(pd.read_csv(dir_path + file))

C:\Users\stucws\AppData\Local\Temp\ipykernel_24848\2421210709.py:12: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(dir_path + file))

In [41]:
dfs[0]

,period_end_datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast
0,2014-12-15 00:00:00,5334.003616,5248.1,5209.5
1,2014-12-15 00:30:00,5075.961933,4997.4,4865.8
2,2014-12-15 01:00:00,4964.318965,4883.2,4716.4
3,2014-12-15 01:30:00,4863.783878,4782.7,4636.4
4,2014-12-15 02:00:00,4808.355906,4724.5,4589.6
...,...,...,...,...
164299,2024-07-21 21:30:00,7267.402170,7128.3,6997.2
164300,2024-07-21 22:00:00,7247.981191,7103.2,6978.7
164301,2024-07-21 22:30:00,7118.731713,6976.1,6960.7
164302,2024-07-21 23:00:00,7015.213957,6874.9,6973.3
164303,2024-07-21 23:30:00,6882.855678,6740.6,6770.4

In [42]:
dfs[1]

,TIMESTAMP,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),LCP ($/MWh),TCL (MW),SOLAR(MW),TCL(MW)
0,2016-01-01 00:00:00,2016-01-01,1,49.45,4715.268,00:00:00,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:30:00,2016-01-01,2,45.63,4632.915,00:30:00,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 01:00:00,2016-01-01,3,43.23,4549.086,01:00:00,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 01:30:00,2016-01-01,4,42.10,4512.129,01:30:00,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 02:00:00,2016-01-01,5,43.23,4463.249,02:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149227,2024-07-16 21:30:00,2024-07-16,44,NaN,6999.628,21:30:00,116.90,0.0,NaN,0.0,0.0
149228,2024-07-16 22:00:00,2024-07-16,45,NaN,6883.698,22:00:00,127.46,0.0,NaN,0.0,0.0
149229,2024-07-16 22:30:00,2024-07-16,46,NaN,6756.014,22:30:00,127.42,0.0,NaN,0.0,0.0
149230,2024-07-16 23:00:00,2024-07-16,47,NaN,6602.336,23:00:00,124.14,0.0,NaN,0.0,0.0
149231,2024-07-16 23:30:00,2024-07-16,48,NaN,6445.955,23:30:00,112.03,0.0,NaN,0.0,0.0

In [43]:
dfs[2]

              24-hr_psi  north  south  east  west  central
0         1/4/2014 1:00     55     54    54    58       54
1         1/4/2014 2:00     55     54    54    59       54
2         1/4/2014 3:00     55     55    54    60       55
3         1/4/2014 4:00     56     55    55    62       55
4         1/4/2014 5:00     57     55    56    63       56
...                 ...    ...    ...   ...   ...      ...
76723  31/12/2022 20:00     30     46    56    34       47
76724  31/12/2022 21:00     30     45    56    33       46
76725  31/12/2022 22:00     30     46    56    33       45
76726  31/12/2022 23:00     30     45    56    33       45
76727     1/1/2023 0:00     31     45    56    33       45

[76728 rows x 6 columns]

In [44]:
dfs[3]

,datetime,year,month,day,hour,period,day_of_week,is_weekend,humidity,tempC,...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2014-01-01 00:00:00,2014,1,1,0,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Patchy rain possible'}],10.0,1011.0,86.0,24.0,1.0,28.0
1,2014-01-01 01:00:00,2014,1,1,1,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Moderate rain at times'}],10.0,1010.0,83.0,23.0,1.0,28.0
2,2014-01-01 02:00:00,2014,1,1,2,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Patchy rain possible'}],10.0,1010.0,81.0,23.0,1.0,28.0
3,2014-01-01 03:00:00,2014,1,1,3,Night,Wednesday,False,90,25.0,...,17.0,6.0,26.0,[{'value': 'Cloudy'}],10.0,1009.0,78.0,23.0,1.0,28.0
4,2014-01-01 04:00:00,2014,1,1,4,Night,Wednesday,False,90,25.0,...,14.0,9.0,22.0,[{'value': 'Cloudy'}],10.0,1010.0,77.0,23.0,1.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92011,2024-06-30 19:00:00,2024,6,30,19,Evening,Sunday,True,76,28.0,...,13.0,189.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1009.0,75.0,24.0,1.0,32.0
92012,2024-06-30 20:00:00,2024,6,30,20,Evening,Sunday,True,79,28.0,...,14.0,191.0,23.0,[{'value': 'Partly cloudy'}],10.0,1010.0,38.0,24.0,1.0,32.0
92013,2024-06-30 21:00:00,2024,6,30,21,Evening,Sunday,True,80,28.0,...,12.0,182.0,19.0,[{'value': 'Partly cloudy'}],10.0,1011.0,32.0,24.0,1.0,32.0
92014,2024-06-30 22:00:00,2024,6,30,22,Evening,Sunday,True,82,28.0,...,10.0,175.0,16.0,[{'value': 'Patchy rain possible'}],9.0,1011.0,89.0,24.0,1.0,31.0
92015,2024-06-30 23:00:00,2024,6,30,23,Evening,Sunday,True,81,27.0,...,10.0,180.0,16.0,[{'value': 'Patchy rain possible'}],9.0,1011.0,70.0,24.0,1.0,31.0

In [47]:
for df in tqdm(dfs):
    df.rename(columns={df.columns[0]: "datetime"}, inplace=True)
    df["datetime"] = pd.to_datetime(df["datetime"], format='mixed')
    df.set_index("datetime", inplace=True)
    df.sort_index()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:04<00:00,  1.10s/it]

In [48]:
dfs[2] = dfs[2][~dfs[2].index.duplicated(keep='first')]

In [49]:
duplicated_indexes = dfs[2].index.duplicated(keep=False)
rows_with_repeated_indexes = dfs[2][duplicated_indexes]
rows_with_repeated_indexes

Empty DataFrame
Columns: [north, south, east, west, central]
Index: []

In [50]:
for df in dfs:
    print(df.index.is_unique)

True
True
True
True

In [51]:
combined_df = pd.concat(dfs, axis=1, join='inner')
combined_df

,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),LCP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,NaN,NaN,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,NaN,NaN,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,NaN,NaN,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,NaN,NaN,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,NaN,NaN,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,0.0,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,0.0,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,0.0,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,0.0,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,0.0,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [52]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 61365 entries, 2016-01-01 00:00:00 to 2023-01-01 00:00:00
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   system_demand_actual  61365 non-null  float64
 1   nem_demand_actual     61365 non-null  float64
 2   nem_demand_forecast   61365 non-null  float64
 3   DATE                  61365 non-null  object
 4   PERIOD                61365 non-null  int64
 5   PRICE ($/MWh)         2831 non-null   float64
 6   DEMAND (MW)           61365 non-null  float64
 7   TIME                  61365 non-null  object
 8   USEP ($/MWh)          58534 non-null  float64
 9   LCP ($/MWh)           58534 non-null  float64
 10  TCL (MW)              58533 non-null  float64
 11  SOLAR(MW)             1 non-null      object
 12  TCL(MW)               1 non-null      float64
 13  north                 61365 non-null  int64
 14  south                 61365 non-null  int64
 15  east                  61365 non-null  int64
 16  west                  61365 non-null  int64
 17  central               61365 non-null  int64
 18  year                  61365 non-null  int64
 19  month                 61365 non-null  int64
 20  day                   61365 non-null  int64
 21  hour                  61365 non-null  int64
 22  period                61365 non-null  object
 23  day_of_week           61365 non-null  object
 24  is_weekend            61365 non-null  bool
 25  humidity              61365 non-null  int64
 26  tempC                 61365 non-null  float64
 27  heatIndexC            61365 non-null  float64
 28  precipMM              61365 non-null  float64
 29  windspeedKmph         61365 non-null  float64
 30  winddirDegree         61365 non-null  float64
 31  windGustKmph          61365 non-null  float64
 32  weatherDesc           61365 non-null  object
 33  visibility            61365 non-null  float64
 34  pressure              61365 non-null  float64
 35  cloudcover            61365 non-null  float64
 36  dewPointC             61365 non-null  float64
 37  uvIndex               61365 non-null  float64
 38  feelsLikeC            61365 non-null  float64
dtypes: bool(1), float64(21), int64(11), object(6)
memory usage: 18.3+ MB

In [53]:
combined_df.to_csv(dir_path + 'all/demand_data_all.csv')

In [54]:
df = pd.read_csv(dir_path + 'all/demand_data_all.csv')
df

C:\Users\stucws\AppData\Local\Temp\ipykernel_24848\2698468440.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dir_path + 'all/demand_data_all.csv')

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,NaN,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,NaN,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,NaN,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,NaN,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,NaN,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [55]:
df['USEP ($/MWh)'] = pd.concat([df['PRICE ($/MWh)'].iloc[:2831], df['USEP ($/MWh)'].iloc[2831:]])
df

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,49.45,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,43.23,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,43.23,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,43.15,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,42.08,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [56]:
df.drop(columns=['DATE', 'PERIOD', 'TIME', 'LCP ($/MWh)', 'PRICE ($/MWh)', 'DEMAND (MW)', 'TCL(MW)', 'SOLAR(MW)', 'TCL (MW)'], inplace=True)
df

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,USEP ($/MWh),north,south,east,west,central,...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,35,39,38,40,41,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,34,39,35,39,40,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,34,38,34,37,39,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,34,38,35,36,38,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,33,37,36,35,38,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,30,46,56,34,47,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,30,45,56,33,46,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,30,46,56,33,45,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,30,45,56,33,45,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,31,45,56,33,45,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [57]:
df.columns

Index(['datetime', 'system_demand_actual', 'nem_demand_actual',
       'nem_demand_forecast', 'USEP ($/MWh)', 'north', 'south', 'east', 'west',
       'central', 'year', 'month', 'day', 'hour', 'period', 'day_of_week',
       'is_weekend', 'humidity', 'tempC', 'heatIndexC', 'precipMM',
       'windspeedKmph', 'winddirDegree', 'windGustKmph', 'weatherDesc',
       'visibility', 'pressure', 'cloudcover', 'dewPointC', 'uvIndex',
       'feelsLikeC'],
      dtype='object')

In [58]:
rearranged = ['datetime', 'system_demand_actual', 'nem_demand_actual', 'nem_demand_forecast', 'USEP ($/MWh)', 'year', 'month', 'day', 'hour', 'period', 'day_of_week', 'is_weekend', 'humidity', 'tempC', 'heatIndexC', 'precipMM', 'windspeedKmph', 'winddirDegree', 'windGustKmph', 'weatherDesc', 'visibility', 'pressure', 'cloudcover', 'dewPointC', 'uvIndex', 'feelsLikeC', 'north', 'south', 'east', 'west', 'central']

len(rearranged) == len(df.columns)

True

In [59]:
df = df[rearranged]
df.rename(columns={
    'system_demand_actual': 'actual',
    'nem_demand_actual': 'met',
    'nem_demand_forecast': 'forecast',
    'USEP ($/MWh)': 'price',
}, inplace=True)
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,1013.0,88.0,23.0,1.0,29.0,35,39,38,40,41
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,1013.0,83.0,23.0,1.0,29.0,34,39,35,39,40
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,1012.0,86.0,23.0,1.0,29.0,34,38,34,37,39
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,1012.0,87.0,23.0,1.0,29.0,34,38,35,36,38
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,1012.0,82.0,23.0,1.0,29.0,33,37,36,35,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,1012.0,33.0,21.0,1.0,29.0,30,46,56,34,47
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,1012.0,31.0,21.0,1.0,28.0,30,45,56,33,46
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,1013.0,40.0,21.0,1.0,28.0,30,46,56,33,45
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,1013.0,49.0,21.0,1.0,27.0,30,45,56,33,45
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,1013.0,58.0,21.0,1.0,27.0,31,45,56,33,45

In [86]:
import ast
df['weatherDesc'] = df['weatherDesc'].apply(lambda x: ast.literal_eval(x)[0]['value'])
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,1013.0,88.0,23.0,1.0,29.0,35,39,38,40,41
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,1013.0,83.0,23.0,1.0,29.0,34,39,35,39,40
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,1012.0,86.0,23.0,1.0,29.0,34,38,34,37,39
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,1012.0,87.0,23.0,1.0,29.0,34,38,35,36,38
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,1012.0,82.0,23.0,1.0,29.0,33,37,36,35,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,1012.0,33.0,21.0,1.0,29.0,30,46,56,34,47
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,1012.0,31.0,21.0,1.0,28.0,30,45,56,33,46
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,1013.0,40.0,21.0,1.0,28.0,30,46,56,33,45
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,1013.0,49.0,21.0,1.0,27.0,30,45,56,33,45
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,1013.0,58.0,21.0,1.0,27.0,31,45,56,33,45

In [87]:
df['aggregatePSI'] = df[['north', 'south', 'east', 'west', 'central']].mean(axis=1)
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central,aggregatePSI
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,88.0,23.0,1.0,29.0,35,39,38,40,41,38.6
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,83.0,23.0,1.0,29.0,34,39,35,39,40,37.4
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,86.0,23.0,1.0,29.0,34,38,34,37,39,36.4
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,87.0,23.0,1.0,29.0,34,38,35,36,38,36.2
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,82.0,23.0,1.0,29.0,33,37,36,35,38,35.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,33.0,21.0,1.0,29.0,30,46,56,34,47,42.6
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,31.0,21.0,1.0,28.0,30,45,56,33,46,42.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,40.0,21.0,1.0,28.0,30,46,56,33,45,42.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,49.0,21.0,1.0,27.0,30,45,56,33,45,41.8
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,58.0,21.0,1.0,27.0,31,45,56,33,45,42.0

In [88]:
df.to_csv(dir_path + 'all/demand_data_all_cleaned.csv', index=False)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61365 entries, 0 to 61364
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       61365 non-null  object
 1   actual         61365 non-null  float64
 2   met            61365 non-null  float64
 3   forecast       61365 non-null  float64
 4   price          61365 non-null  float64
 5   year           61365 non-null  int64
 6   month          61365 non-null  int64
 7   day            61365 non-null  int64
 8   hour           61365 non-null  int64
 9   period         61365 non-null  object
 10  day_of_week    61365 non-null  object
 11  is_weekend     61365 non-null  bool
 12  humidity       61365 non-null  int64
 13  tempC          61365 non-null  float64
 14  heatIndexC     61365 non-null  float64
 15  precipMM       61365 non-null  float64
 16  windspeedKmph  61365 non-null  float64
 17  winddirDegree  61365 non-null  float64
 18  windGustKmph   61365 non-null  float64
 19  weatherDesc    61365 non-null  object
 20  visibility     61365 non-null  float64
 21  pressure       61365 non-null  float64
 22  cloudcover     61365 non-null  float64
 23  dewPointC      61365 non-null  float64
 24  uvIndex        61365 non-null  float64
 25  feelsLikeC     61365 non-null  float64
 26  north          61365 non-null  int64
 27  south          61365 non-null  int64
 28  east           61365 non-null  int64
 29  west           61365 non-null  int64
 30  central        61365 non-null  int64
 31  aggregatePSI   61365 non-null  float64
dtypes: bool(1), float64(17), int64(10), object(4)
memory usage: 14.6+ MB