# SG Dataset

In [39]:
import pandas as pd
import os
from tqdm import tqdm
from datetime import datetime, timedelta

dir_path = 'C:/Users/stucws/Documents/astar/data/demand_datasets/'
files = [file for file in os.listdir(dir_path) if file.endswith('.csv')]

dfs = []

for file in files:
    dfs.append(pd.read_csv(dir_path + file))

C:\Users\stucws\AppData\Local\Temp\ipykernel_24848\2421210709.py:12: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(dir_path + file))

In [41]:
dfs[0]

,period_end_datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast
0,2014-12-15 00:00:00,5334.003616,5248.1,5209.5
1,2014-12-15 00:30:00,5075.961933,4997.4,4865.8
2,2014-12-15 01:00:00,4964.318965,4883.2,4716.4
3,2014-12-15 01:30:00,4863.783878,4782.7,4636.4
4,2014-12-15 02:00:00,4808.355906,4724.5,4589.6
...,...,...,...,...
164299,2024-07-21 21:30:00,7267.402170,7128.3,6997.2
164300,2024-07-21 22:00:00,7247.981191,7103.2,6978.7
164301,2024-07-21 22:30:00,7118.731713,6976.1,6960.7
164302,2024-07-21 23:00:00,7015.213957,6874.9,6973.3
164303,2024-07-21 23:30:00,6882.855678,6740.6,6770.4

In [42]:
dfs[1]

,TIMESTAMP,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),LCP ($/MWh),TCL (MW),SOLAR(MW),TCL(MW)
0,2016-01-01 00:00:00,2016-01-01,1,49.45,4715.268,00:00:00,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:30:00,2016-01-01,2,45.63,4632.915,00:30:00,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 01:00:00,2016-01-01,3,43.23,4549.086,01:00:00,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 01:30:00,2016-01-01,4,42.10,4512.129,01:30:00,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 02:00:00,2016-01-01,5,43.23,4463.249,02:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149227,2024-07-16 21:30:00,2024-07-16,44,NaN,6999.628,21:30:00,116.90,0.0,NaN,0.0,0.0
149228,2024-07-16 22:00:00,2024-07-16,45,NaN,6883.698,22:00:00,127.46,0.0,NaN,0.0,0.0
149229,2024-07-16 22:30:00,2024-07-16,46,NaN,6756.014,22:30:00,127.42,0.0,NaN,0.0,0.0
149230,2024-07-16 23:00:00,2024-07-16,47,NaN,6602.336,23:00:00,124.14,0.0,NaN,0.0,0.0
149231,2024-07-16 23:30:00,2024-07-16,48,NaN,6445.955,23:30:00,112.03,0.0,NaN,0.0,0.0

In [43]:
dfs[2]

              24-hr_psi  north  south  east  west  central
0         1/4/2014 1:00     55     54    54    58       54
1         1/4/2014 2:00     55     54    54    59       54
2         1/4/2014 3:00     55     55    54    60       55
3         1/4/2014 4:00     56     55    55    62       55
4         1/4/2014 5:00     57     55    56    63       56
...                 ...    ...    ...   ...   ...      ...
76723  31/12/2022 20:00     30     46    56    34       47
76724  31/12/2022 21:00     30     45    56    33       46
76725  31/12/2022 22:00     30     46    56    33       45
76726  31/12/2022 23:00     30     45    56    33       45
76727     1/1/2023 0:00     31     45    56    33       45

[76728 rows x 6 columns]

In [44]:
dfs[3]

,datetime,year,month,day,hour,period,day_of_week,is_weekend,humidity,tempC,...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2014-01-01 00:00:00,2014,1,1,0,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Patchy rain possible'}],10.0,1011.0,86.0,24.0,1.0,28.0
1,2014-01-01 01:00:00,2014,1,1,1,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Moderate rain at times'}],10.0,1010.0,83.0,23.0,1.0,28.0
2,2014-01-01 02:00:00,2014,1,1,2,Night,Wednesday,False,91,25.0,...,17.0,7.0,26.0,[{'value': 'Patchy rain possible'}],10.0,1010.0,81.0,23.0,1.0,28.0
3,2014-01-01 03:00:00,2014,1,1,3,Night,Wednesday,False,90,25.0,...,17.0,6.0,26.0,[{'value': 'Cloudy'}],10.0,1009.0,78.0,23.0,1.0,28.0
4,2014-01-01 04:00:00,2014,1,1,4,Night,Wednesday,False,90,25.0,...,14.0,9.0,22.0,[{'value': 'Cloudy'}],10.0,1010.0,77.0,23.0,1.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92011,2024-06-30 19:00:00,2024,6,30,19,Evening,Sunday,True,76,28.0,...,13.0,189.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1009.0,75.0,24.0,1.0,32.0
92012,2024-06-30 20:00:00,2024,6,30,20,Evening,Sunday,True,79,28.0,...,14.0,191.0,23.0,[{'value': 'Partly cloudy'}],10.0,1010.0,38.0,24.0,1.0,32.0
92013,2024-06-30 21:00:00,2024,6,30,21,Evening,Sunday,True,80,28.0,...,12.0,182.0,19.0,[{'value': 'Partly cloudy'}],10.0,1011.0,32.0,24.0,1.0,32.0
92014,2024-06-30 22:00:00,2024,6,30,22,Evening,Sunday,True,82,28.0,...,10.0,175.0,16.0,[{'value': 'Patchy rain possible'}],9.0,1011.0,89.0,24.0,1.0,31.0
92015,2024-06-30 23:00:00,2024,6,30,23,Evening,Sunday,True,81,27.0,...,10.0,180.0,16.0,[{'value': 'Patchy rain possible'}],9.0,1011.0,70.0,24.0,1.0,31.0

In [47]:
for df in tqdm(dfs):
    df.rename(columns={df.columns[0]: "datetime"}, inplace=True)
    df["datetime"] = pd.to_datetime(df["datetime"], format='mixed')
    df.set_index("datetime", inplace=True)
    df.sort_index()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:04<00:00,  1.10s/it]

In [48]:
dfs[2] = dfs[2][~dfs[2].index.duplicated(keep='first')]

In [49]:
duplicated_indexes = dfs[2].index.duplicated(keep=False)
rows_with_repeated_indexes = dfs[2][duplicated_indexes]
rows_with_repeated_indexes

Empty DataFrame
Columns: [north, south, east, west, central]
Index: []

In [50]:
for df in dfs:
    print(df.index.is_unique)

True
True
True
True

In [51]:
combined_df = pd.concat(dfs, axis=1, join='inner')
combined_df

,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),LCP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,NaN,NaN,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,NaN,NaN,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,NaN,NaN,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,NaN,NaN,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,NaN,NaN,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,0.0,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,0.0,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,0.0,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,0.0,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,0.0,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [52]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 61365 entries, 2016-01-01 00:00:00 to 2023-01-01 00:00:00
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   system_demand_actual  61365 non-null  float64
 1   nem_demand_actual     61365 non-null  float64
 2   nem_demand_forecast   61365 non-null  float64
 3   DATE                  61365 non-null  object
 4   PERIOD                61365 non-null  int64
 5   PRICE ($/MWh)         2831 non-null   float64
 6   DEMAND (MW)           61365 non-null  float64
 7   TIME                  61365 non-null  object
 8   USEP ($/MWh)          58534 non-null  float64
 9   LCP ($/MWh)           58534 non-null  float64
 10  TCL (MW)              58533 non-null  float64
 11  SOLAR(MW)             1 non-null      object
 12  TCL(MW)               1 non-null      float64
 13  north                 61365 non-null  int64
 14  south                 61365 non-null  int64
 15  east                  61365 non-null  int64
 16  west                  61365 non-null  int64
 17  central               61365 non-null  int64
 18  year                  61365 non-null  int64
 19  month                 61365 non-null  int64
 20  day                   61365 non-null  int64
 21  hour                  61365 non-null  int64
 22  period                61365 non-null  object
 23  day_of_week           61365 non-null  object
 24  is_weekend            61365 non-null  bool
 25  humidity              61365 non-null  int64
 26  tempC                 61365 non-null  float64
 27  heatIndexC            61365 non-null  float64
 28  precipMM              61365 non-null  float64
 29  windspeedKmph         61365 non-null  float64
 30  winddirDegree         61365 non-null  float64
 31  windGustKmph          61365 non-null  float64
 32  weatherDesc           61365 non-null  object
 33  visibility            61365 non-null  float64
 34  pressure              61365 non-null  float64
 35  cloudcover            61365 non-null  float64
 36  dewPointC             61365 non-null  float64
 37  uvIndex               61365 non-null  float64
 38  feelsLikeC            61365 non-null  float64
dtypes: bool(1), float64(21), int64(11), object(6)
memory usage: 18.3+ MB

In [53]:
combined_df.to_csv(dir_path + 'all/demand_data_all.csv')

In [54]:
df = pd.read_csv(dir_path + 'all/demand_data_all.csv')
df

C:\Users\stucws\AppData\Local\Temp\ipykernel_24848\2698468440.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dir_path + 'all/demand_data_all.csv')

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,NaN,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,NaN,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,NaN,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,NaN,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,NaN,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [55]:
df['USEP ($/MWh)'] = pd.concat([df['PRICE ($/MWh)'].iloc[:2831], df['USEP ($/MWh)'].iloc[2831:]])
df

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,DATE,PERIOD,PRICE ($/MWh),DEMAND (MW),TIME,USEP ($/MWh),...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,2016-01-01,1,49.45,4715.268,00:00:00,49.45,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,2016-01-01,3,43.23,4549.086,01:00:00,43.23,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,2016-01-01,5,43.23,4463.249,02:00:00,43.23,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,2016-01-01,7,43.15,4401.750,03:00:00,43.15,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,2016-01-01,9,42.08,4340.351,04:00:00,42.08,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,2022-12-31,41,NaN,6238.896,20:00:00,169.13,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,2022-12-31,43,NaN,6150.186,21:00:00,157.33,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,2022-12-31,45,NaN,5956.366,22:00:00,123.42,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,2022-12-31,47,NaN,5755.538,23:00:00,107.21,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,2023-01-01,1,NaN,5539.761,00:00:00,158.62,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [56]:
df.drop(columns=['DATE', 'PERIOD', 'TIME', 'LCP ($/MWh)', 'PRICE ($/MWh)', 'DEMAND (MW)', 'TCL(MW)', 'SOLAR(MW)', 'TCL (MW)'], inplace=True)
df

,datetime,system_demand_actual,nem_demand_actual,nem_demand_forecast,USEP ($/MWh),north,south,east,west,central,...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,35,39,38,40,41,...,9.0,42.0,21.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,88.0,23.0,1.0,29.0
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,34,39,35,39,40,...,9.0,38.0,20.0,[{'value': 'Patchy rain possible'}],9.0,1013.0,83.0,23.0,1.0,29.0
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,34,38,34,37,39,...,10.0,34.0,22.0,[{'value': 'Moderate rain at times'}],10.0,1012.0,86.0,23.0,1.0,29.0
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,34,38,35,36,38,...,10.0,31.0,22.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,87.0,23.0,1.0,29.0
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,33,37,36,35,38,...,11.0,28.0,21.0,[{'value': 'Patchy rain possible'}],10.0,1012.0,82.0,23.0,1.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,30,46,56,34,47,...,14.0,114.0,25.0,[{'value': 'Partly cloudy'}],10.0,1012.0,33.0,21.0,1.0,29.0
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,30,45,56,33,46,...,17.0,6.0,23.0,[{'value': 'Partly cloudy'}],10.0,1012.0,31.0,21.0,1.0,28.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,30,46,56,33,45,...,16.0,5.0,23.0,[{'value': 'Partly cloudy'}],10.0,1013.0,40.0,21.0,1.0,28.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,30,45,56,33,45,...,15.0,5.0,22.0,[{'value': 'Partly cloudy'}],10.0,1013.0,49.0,21.0,1.0,27.0
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,31,45,56,33,45,...,14.0,5.0,25.0,[{'value': 'Partly cloudy'}],10.0,1013.0,58.0,21.0,1.0,27.0

In [57]:
df.columns

Index(['datetime', 'system_demand_actual', 'nem_demand_actual',
       'nem_demand_forecast', 'USEP ($/MWh)', 'north', 'south', 'east', 'west',
       'central', 'year', 'month', 'day', 'hour', 'period', 'day_of_week',
       'is_weekend', 'humidity', 'tempC', 'heatIndexC', 'precipMM',
       'windspeedKmph', 'winddirDegree', 'windGustKmph', 'weatherDesc',
       'visibility', 'pressure', 'cloudcover', 'dewPointC', 'uvIndex',
       'feelsLikeC'],
      dtype='object')

In [58]:
rearranged = ['datetime', 'system_demand_actual', 'nem_demand_actual', 'nem_demand_forecast', 'USEP ($/MWh)', 'year', 'month', 'day', 'hour', 'period', 'day_of_week', 'is_weekend', 'humidity', 'tempC', 'heatIndexC', 'precipMM', 'windspeedKmph', 'winddirDegree', 'windGustKmph', 'weatherDesc', 'visibility', 'pressure', 'cloudcover', 'dewPointC', 'uvIndex', 'feelsLikeC', 'north', 'south', 'east', 'west', 'central']

len(rearranged) == len(df.columns)

True

In [59]:
df = df[rearranged]
df.rename(columns={
    'system_demand_actual': 'actual',
    'nem_demand_actual': 'met',
    'nem_demand_forecast': 'forecast',
    'USEP ($/MWh)': 'price',
}, inplace=True)
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,1013.0,88.0,23.0,1.0,29.0,35,39,38,40,41
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,1013.0,83.0,23.0,1.0,29.0,34,39,35,39,40
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,1012.0,86.0,23.0,1.0,29.0,34,38,34,37,39
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,1012.0,87.0,23.0,1.0,29.0,34,38,35,36,38
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,1012.0,82.0,23.0,1.0,29.0,33,37,36,35,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,1012.0,33.0,21.0,1.0,29.0,30,46,56,34,47
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,1012.0,31.0,21.0,1.0,28.0,30,45,56,33,46
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,1013.0,40.0,21.0,1.0,28.0,30,46,56,33,45
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,1013.0,49.0,21.0,1.0,27.0,30,45,56,33,45
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,1013.0,58.0,21.0,1.0,27.0,31,45,56,33,45

In [86]:
import ast
df['weatherDesc'] = df['weatherDesc'].apply(lambda x: ast.literal_eval(x)[0]['value'])
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,1013.0,88.0,23.0,1.0,29.0,35,39,38,40,41
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,1013.0,83.0,23.0,1.0,29.0,34,39,35,39,40
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,1012.0,86.0,23.0,1.0,29.0,34,38,34,37,39
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,1012.0,87.0,23.0,1.0,29.0,34,38,35,36,38
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,1012.0,82.0,23.0,1.0,29.0,33,37,36,35,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,1012.0,33.0,21.0,1.0,29.0,30,46,56,34,47
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,1012.0,31.0,21.0,1.0,28.0,30,45,56,33,46
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,1013.0,40.0,21.0,1.0,28.0,30,46,56,33,45
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,1013.0,49.0,21.0,1.0,27.0,30,45,56,33,45
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,1013.0,58.0,21.0,1.0,27.0,31,45,56,33,45

In [87]:
df['aggregatePSI'] = df[['north', 'south', 'east', 'west', 'central']].mean(axis=1)
df

,datetime,actual,met,forecast,price,year,month,day,hour,period,...,cloudcover,dewPointC,uvIndex,feelsLikeC,north,south,east,west,central,aggregatePSI
0,2016-01-01 00:00:00,4939.791635,4801.7,4850.6,49.45,2016,1,1,0,Night,...,88.0,23.0,1.0,29.0,35,39,38,40,41,38.6
1,2016-01-01 01:00:00,4837.297700,4701.3,4685.3,43.23,2016,1,1,1,Night,...,83.0,23.0,1.0,29.0,34,39,35,39,40,37.4
2,2016-01-01 02:00:00,4751.866150,4619.6,4558.3,43.23,2016,1,1,2,Night,...,86.0,23.0,1.0,29.0,34,38,34,37,39,36.4
3,2016-01-01 03:00:00,4617.058405,4480.6,4486.8,43.15,2016,1,1,3,Night,...,87.0,23.0,1.0,29.0,34,38,35,36,38,36.2
4,2016-01-01 04:00:00,4487.779534,4352.4,4411.0,42.08,2016,1,1,4,Night,...,82.0,23.0,1.0,29.0,33,37,36,35,38,35.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61360,2022-12-31 20:00:00,6400.084579,6267.6,6316.1,169.13,2022,12,31,20,Evening,...,33.0,21.0,1.0,29.0,30,46,56,34,47,42.6
61361,2022-12-31 21:00:00,6363.259017,6238.2,6254.7,157.33,2022,12,31,21,Evening,...,31.0,21.0,1.0,28.0,30,45,56,33,46,42.0
61362,2022-12-31 22:00:00,6248.123996,6120.0,6149.1,123.42,2022,12,31,22,Evening,...,40.0,21.0,1.0,28.0,30,46,56,33,45,42.0
61363,2022-12-31 23:00:00,6011.432443,5885.1,5941.3,107.21,2022,12,31,23,Evening,...,49.0,21.0,1.0,27.0,30,45,56,33,45,41.8
61364,2023-01-01 00:00:00,5831.513657,5705.9,5685.2,158.62,2023,1,1,0,Night,...,58.0,21.0,1.0,27.0,31,45,56,33,45,42.0

In [88]:
df.to_csv(dir_path + 'all/demand_data_all_cleaned.csv', index=False)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61365 entries, 0 to 61364
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       61365 non-null  object
 1   actual         61365 non-null  float64
 2   met            61365 non-null  float64
 3   forecast       61365 non-null  float64
 4   price          61365 non-null  float64
 5   year           61365 non-null  int64
 6   month          61365 non-null  int64
 7   day            61365 non-null  int64
 8   hour           61365 non-null  int64
 9   period         61365 non-null  object
 10  day_of_week    61365 non-null  object
 11  is_weekend     61365 non-null  bool
 12  humidity       61365 non-null  int64
 13  tempC          61365 non-null  float64
 14  heatIndexC     61365 non-null  float64
 15  precipMM       61365 non-null  float64
 16  windspeedKmph  61365 non-null  float64
 17  winddirDegree  61365 non-null  float64
 18  windGustKmph   61365 non-null  float64
 19  weatherDesc    61365 non-null  object
 20  visibility     61365 non-null  float64
 21  pressure       61365 non-null  float64
 22  cloudcover     61365 non-null  float64
 23  dewPointC      61365 non-null  float64
 24  uvIndex        61365 non-null  float64
 25  feelsLikeC     61365 non-null  float64
 26  north          61365 non-null  int64
 27  south          61365 non-null  int64
 28  east           61365 non-null  int64
 29  west           61365 non-null  int64
 30  central        61365 non-null  int64
 31  aggregatePSI   61365 non-null  float64
dtypes: bool(1), float64(17), int64(10), object(4)
memory usage: 14.6+ MB

# Australia Dataset (Canberra/NSW)

In [40]:
import pandas as pd
import os
from tqdm import tqdm
from datetime import datetime, timedelta

dir_path = 'C:/Users/stucws/Documents/astar/sentiment-analysis/webscrape_headlines/external_data/aus_demand_data/'
files = os.listdir(dir_path)

for i, file_name in tqdm(enumerate(files)):
    if i == 0:
        df = pd.read_csv(dir_path + file_name)
    else:
        df = pd.concat([df, pd.read_csv(dir_path + file_name)], ignore_index=True)
        
df

129it [00:01, 107.39it/s]

       REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
0        NSW1  2014/01/01 00:30:00      6840.01  49.72      TRADE
1        NSW1  2014/01/01 01:00:00      6580.75  48.13      TRADE
2        NSW1  2014/01/01 01:30:00      6212.79  44.05      TRADE
3        NSW1  2014/01/01 02:00:00      5988.92  40.51      TRADE
4        NSW1  2014/01/01 02:30:00      5752.86  37.15      TRADE
...       ...                  ...          ...    ...        ...
443707   NSW1  2024/09/03 23:40:00      7821.21  76.72      TRADE
443708   NSW1  2024/09/03 23:45:00      7789.63  75.80      TRADE
443709   NSW1  2024/09/03 23:50:00      7793.67  76.72      TRADE
443710   NSW1  2024/09/03 23:55:00      7762.59  74.99      TRADE
443711   NSW1  2024/09/04 00:00:00      7766.82  74.99      TRADE

[443712 rows x 5 columns]

In [41]:
df["SETTLEMENTDATE"] = pd.to_datetime(df["SETTLEMENTDATE"])
df.set_index("SETTLEMENTDATE", inplace=True)

In [42]:
df.index.nunique()

443712

In [139]:
test = df.iloc[1:].asfreq('1h')
test

                    REGION  TOTALDEMAND     RRP PERIODTYPE
SETTLEMENTDATE
2014-01-01 01:00:00   NSW1      6580.75   48.13      TRADE
2014-01-01 02:00:00   NSW1      5988.92   40.51      TRADE
2014-01-01 03:00:00   NSW1      5630.41   42.68      TRADE
2014-01-01 04:00:00   NSW1      5529.09   40.10      TRADE
2014-01-01 05:00:00   NSW1      5484.19   42.04      TRADE
...                    ...          ...     ...        ...
2024-09-03 20:00:00   NSW1      9048.74  109.83      TRADE
2024-09-03 21:00:00   NSW1      8718.34   82.27      TRADE
2024-09-03 22:00:00   NSW1      8200.85   66.22      TRADE
2024-09-03 23:00:00   NSW1      7956.40   74.99      TRADE
2024-09-04 00:00:00   NSW1      7766.82   74.99      TRADE

[93576 rows x 4 columns]

In [46]:
weather = pd.read_csv('../canberra_historical_hourly_weather.csv', index_col=0, parse_dates=True)
weather

,year,month,day,hour,period,day_of_week,is_weekend,humidity,tempC,heatIndexC,...,windspeedKmph,winddirDegree,windGustKmph,weatherDesc,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC
datetime,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,2014,1,1,0,Night,Wednesday,False,91,14.0,14.0,...,6.0,44.0,19.0,[{'value': 'Cloudy'}],10.0,1015.0,61.0,12.0,1.0,13.0
2014-01-01 01:00:00,2014,1,1,1,Night,Wednesday,False,93,13.0,13.0,...,6.0,40.0,18.0,[{'value': 'Partly cloudy'}],7.0,1015.0,57.0,12.0,1.0,13.0
2014-01-01 02:00:00,2014,1,1,2,Night,Wednesday,False,95,13.0,13.0,...,5.0,35.0,17.0,[{'value': 'Partly cloudy'}],5.0,1014.0,53.0,12.0,1.0,13.0
2014-01-01 03:00:00,2014,1,1,3,Night,Wednesday,False,97,13.0,13.0,...,4.0,31.0,15.0,[{'value': 'Partly cloudy'}],2.0,1014.0,49.0,12.0,1.0,13.0
2014-01-01 04:00:00,2014,1,1,4,Night,Wednesday,False,93,14.0,14.0,...,5.0,133.0,13.0,[{'value': 'Partly cloudy'}],5.0,1014.0,47.0,12.0,1.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-30 19:00:00,2024,6,30,19,Evening,Sunday,True,97,3.0,3.0,...,12.0,173.0,15.0,[{'value': 'Light sleet'}],9.0,1020.0,100.0,3.0,1.0,0.0
2024-06-30 20:00:00,2024,6,30,20,Evening,Sunday,True,96,3.0,3.0,...,10.0,175.0,13.0,[{'value': 'Mist'}],2.0,1021.0,78.0,3.0,1.0,0.0
2024-06-30 21:00:00,2024,6,30,21,Evening,Sunday,True,94,3.0,3.0,...,9.0,173.0,13.0,[{'value': 'Partly cloudy'}],10.0,1021.0,45.0,2.0,1.0,0.0
2024-06-30 22:00:00,2024,6,30,22,Evening,Sunday,True,94,2.0,2.0,...,9.0,185.0,14.0,[{'value': 'Partly cloudy'}],10.0,1021.0,38.0,1.0,1.0,-0.0
2024-06-30 23:00:00,2024,6,30,23,Evening,Sunday,True,93,2.0,2.0,...,9.0,183.0,15.0,[{'value': 'Partly cloudy'}],10.0,1021.0,33.0,1.0,1.0,-1.0

In [100]:
aqi = pd.read_csv("C:/Users/stucws/Documents/astar/sentiment-analysis/webscrape_headlines/external_data/aus_demand_data/Air_Quality_Monitoring_Data_20240904.csv")
aqi['DateTime'] = pd.to_datetime(aqi['DateTime'], format='mixed')
aqi.set_index('DateTime', inplace=True)
aqi.sort_index(inplace=True)
aqi.drop_duplicates(inplace=True)
aqi = aqi.pivot_table(index=aqi.index, columns='Name', values='AQI_Site')
aqi.columns = [col.lower() + '_aqi' for col in aqi.columns]
aqi['aggregate_aqi'] = aqi[aqi.columns].mean(axis=1)
aqi.dropna(inplace=True)
aqi

                     civic_aqi  florey_aqi  monash_aqi  aggregate_aqi
DateTime
2011-01-01 01:00:00       16.0         NaN        15.0      15.500000
2011-01-01 02:00:00       15.0         NaN        13.0      14.000000
2011-01-01 03:00:00       14.0         NaN        13.0      13.500000
2011-01-01 04:00:00       12.0         NaN        12.0      12.000000
2011-01-01 05:00:00       13.0         NaN        11.0      12.000000
...                        ...         ...         ...            ...
2024-12-08 19:00:00       28.0        60.0        58.0      48.666667
2024-12-08 20:00:00       29.0        60.0        56.0      48.333333
2024-12-08 21:00:00       30.0        58.0        54.0      47.333333
2024-12-08 22:00:00       30.0        56.0        52.0      46.000000
2024-12-08 23:00:00       29.0        53.0        48.0      43.333333

[119898 rows x 4 columns]

In [106]:
aqi.to_csv('test.csv')

In [156]:
import numpy as np

combined_df = pd.concat([test, weather, aqi], axis=1, join='inner')
combined_df.rename(columns={"TOTALDEMAND": "actual", "RRP": "price"}, inplace=True)
combined_df.drop_duplicates(inplace=True)
combined_df.drop(columns=['REGION', 'PERIODTYPE'], inplace=True)

print(len(combined_df))
combined_df = combined_df.asfreq('h')
print(len(combined_df)) # a lot of missing data in 2014 and 2024
combined_df = combined_df.loc['2015-01-01':'2023-12-31']
print(combined_df[combined_df.isna().any(axis=1)])
missing_dates = combined_df[combined_df.isna().any(axis=1)].index
object_columns = ['period', 'day_of_week', 'is_weekend', 'weatherDesc']
numeric_columns = [col for col in combined_df.columns if col not in object_columns]

for col in numeric_columns:
    combined_df[col] = combined_df[col].interpolate()
for col in object_columns:
    combined_df[col] = combined_df[col].ffill()
combined_df.loc['2021-03-11']

90195
91968
                     actual  price  year  month  day  hour period day_of_week  \
2021-03-11 16:00:00     NaN    NaN   NaN    NaN  NaN   NaN    NaN         NaN

                    is_weekend  humidity  ...  visibility  pressure  \
2021-03-11 16:00:00        NaN       NaN  ...         NaN       NaN

                     cloudcover  dewPointC  uvIndex  feelsLikeC civic_aqi  \
2021-03-11 16:00:00         NaN        NaN      NaN         NaN       NaN

                     florey_aqi  monash_aqi  aggregate_aqi
2021-03-11 16:00:00         NaN         NaN            NaN

[1 rows x 27 columns]

C:\Users\stucws\AppData\Local\Temp\ipykernel_16272\1605195104.py:20: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  combined_df[col] = combined_df[col].ffill()

,actual,price,year,month,day,hour,period,day_of_week,is_weekend,humidity,...,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,civic_aqi,florey_aqi,monash_aqi,aggregate_aqi
2021-03-11 00:00:00,7260.08,36.71,2021.0,3.0,11.0,0.0,Night,Thursday,False,88.0,...,10.0,1020.0,91.0,13.0,1.0,16.0,46.0,49.0,43.0,46.000000
2021-03-11 01:00:00,6824.60,36.38,2021.0,3.0,11.0,1.0,Night,Thursday,False,88.0,...,10.0,1020.0,89.0,13.0,1.0,16.0,43.0,44.0,39.0,42.000000
2021-03-11 02:00:00,6367.79,31.90,2021.0,3.0,11.0,2.0,Night,Thursday,False,88.0,...,10.0,1020.0,87.0,13.0,1.0,16.0,40.0,38.0,36.0,38.000000
2021-03-11 03:00:00,6179.06,32.32,2021.0,3.0,11.0,3.0,Night,Thursday,False,88.0,...,10.0,1019.0,84.0,13.0,1.0,15.0,37.0,32.0,32.0,33.666667
2021-03-11 04:00:00,6231.46,33.62,2021.0,3.0,11.0,4.0,Night,Thursday,False,88.0,...,10.0,1020.0,73.0,13.0,1.0,15.0,33.0,30.0,29.0,30.666667
2021-03-11 05:00:00,6702.19,34.05,2021.0,3.0,11.0,5.0,Night,Thursday,False,87.0,...,10.0,1020.0,63.0,13.0,1.0,15.0,30.0,29.0,24.0,27.666667
2021-03-11 06:00:00,7617.01,51.06,2021.0,3.0,11.0,6.0,Morning,Thursday,False,87.0,...,9.0,1020.0,52.0,13.0,5.0,16.0,25.0,29.0,23.0,25.666667
2021-03-11 07:00:00,8164.82,63.42,2021.0,3.0,11.0,7.0,Morning,Thursday,False,81.0,...,9.0,1020.0,46.0,13.0,5.0,17.0,24.0,27.0,22.0,24.333333
2021-03-11 08:00:00,8227.24,44.14,2021.0,3.0,11.0,8.0,Morning,Thursday,False,76.0,...,10.0,1020.0,41.0,14.0,5.0,18.0,24.0,25.0,23.0,24.000000
2021-03-11 09:00:00,8259.20,36.56,2021.0,3.0,11.0,9.0,Morning,Thursday,False,70.0,...,10.0,1020.0,35.0,14.0,5.0,18.0,24.0,23.0,22.0,23.000000
2021-03-11 10:00:00,8087.36,39.44,2021.0,3.0,11.0,10.0,Morning,Thursday,False,69.0,...,9.0,1020.0,39.0,14.0,5.0,19.0,23.0,21.0,22.0,22.000000
2021-03-11 11:00:00,8082.76,37.51,2021.0,3.0,11.0,11.0,Morning,Thursday,False,69.0,...,9.0,1020.0,43.0,14.0,5.0,20.0,22.0,23.0,25.0,23.333333
2021-03-11 12:00:00,8171.49,42.06,2021.0,3.0,11.0,12.0,Afternoon,Thursday,False,68.0,...,8.0,1019.0,87.0,15.0,4.0,20.0,21.0,28.0,29.0,26.000000
2021-03-11 13:00:00,8134.22,39.17,2021.0,3.0,11.0,13.0,Afternoon,Thursday,False,74.0,...,8.0,1019.0,57.0,15.0,4.0,19.0,24.0,33.0,34.0,30.333333
2021-03-11 14:00:00,8156.89,42.88,2021.0,3.0,11.0,14.0,Afternoon,Thursday,False,80.0,...,7.0,1019.0,66.0,15.0,4.0,19.0,29.0,38.0,39.0,35.333333
2021-03-11 15:00:00,8265.77,35.59,2021.0,3.0,11.0,15.0,Afternoon,Thursday,False,86.0,...,7.0,1018.0,76.0,16.0,4.0,20.0,34.0,42.0,43.0,39.666667
2021-03-11 16:00:00,8677.16,43.05,2021.0,3.0,11.0,16.0,Afternoon,Thursday,False,88.5,...,7.5,1018.0,78.0,16.0,4.0,19.5,35.5,43.5,44.5,41.166667
2021-03-11 17:00:00,9088.55,50.51,2021.0,3.0,11.0,17.0,Afternoon,Thursday,False,91.0,...,8.0,1018.0,80.0,16.0,4.0,19.0,37.0,45.0,46.0,42.666667
2021-03-11 18:00:00,9048.94,74.27,2021.0,3.0,11.0,18.0,Evening,Thursday,False,93.0,...,8.0,1018.0,81.0,16.0,1.0,18.0,38.0,44.0,47.0,43.000000
2021-03-11 19:00:00,8928.75,84.35,2021.0,3.0,11.0,19.0,Evening,Thursday,False,93.0,...,9.0,1018.0,82.0,15.0,1.0,17.0,42.0,42.0,46.0,43.333333
2021-03-11 20:00:00,8558.39,45.82,2021.0,3.0,11.0,20.0,Evening,Thursday,False,93.0,...,9.0,1019.0,82.0,15.0,1.0,17.0,39.0,38.0,41.0,39.333333
2021-03-11 21:00:00,8027.51,35.83,2021.0,3.0,11.0,21.0,Evening,Thursday,False,93.0,...,10.0,1019.0,83.0,15.0,1.0,17.0,35.0,32.0,36.0,34.333333
2021-03-11 22:00:00,7762.95,33.33,2021.0,3.0,11.0,22.0,Evening,Thursday,False,94.0,...,9.0,1018.0,87.0,15.0,1.0,16.0,33.0,28.0,31.0,30.666667
2021-03-11 23:00:00,7629.62,37.24,2021.0,3.0,11.0,23.0,Evening,Thursday,False,94.0,...,7.0,1018.0,91.0,16.0,1.0,16.0,31.0,25.0,29.0,28.333333

In [157]:
import ast
combined_df['weatherDesc'] = combined_df['weatherDesc'].apply(lambda x: ast.literal_eval(x)[0]['value'])
combined_df

,actual,price,year,month,day,hour,period,day_of_week,is_weekend,humidity,...,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,civic_aqi,florey_aqi,monash_aqi,aggregate_aqi
2015-01-01 00:00:00,7057.51,49.08,2015.0,1.0,1.0,0.0,Night,Thursday,False,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,30.0,14.0,25.0,23.000000
2015-01-01 01:00:00,6668.71,47.25,2015.0,1.0,1.0,1.0,Night,Thursday,False,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,30.0,14.0,26.0,23.333333
2015-01-01 02:00:00,6056.02,34.86,2015.0,1.0,1.0,2.0,Night,Thursday,False,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,31.0,14.0,26.0,23.666667
2015-01-01 03:00:00,5711.33,31.63,2015.0,1.0,1.0,3.0,Night,Thursday,False,99.0,...,0.0,1013.0,100.0,14.0,1.0,15.0,32.0,14.0,26.0,24.000000
2015-01-01 04:00:00,5625.27,31.60,2015.0,1.0,1.0,4.0,Night,Thursday,False,94.0,...,3.0,1014.0,71.0,14.0,1.0,15.0,33.0,14.0,26.0,24.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,7022.42,36.06,2023.0,12.0,31.0,19.0,Evening,Sunday,True,79.0,...,10.0,1021.0,93.0,10.0,1.0,13.0,24.0,30.0,26.0,26.666667
2023-12-31 20:00:00,6948.44,54.95,2023.0,12.0,31.0,20.0,Evening,Sunday,True,81.0,...,10.0,1022.0,96.0,10.0,1.0,13.0,24.0,30.0,26.0,26.666667
2023-12-31 21:00:00,6801.37,54.95,2023.0,12.0,31.0,21.0,Evening,Sunday,True,83.0,...,10.0,1023.0,92.0,10.0,1.0,13.0,23.0,30.0,26.0,26.333333
2023-12-31 22:00:00,6925.23,48.26,2023.0,12.0,31.0,22.0,Evening,Sunday,True,84.0,...,10.0,1023.0,79.0,11.0,1.0,12.0,23.0,30.0,26.0,26.333333
2023-12-31 23:00:00,6727.01,57.95,2023.0,12.0,31.0,23.0,Evening,Sunday,True,84.0,...,10.0,1022.0,55.0,10.0,1.0,12.0,22.0,29.0,26.0,25.666667

In [158]:
combined_df.to_csv('../external_data/demand/demand_data_all_nsw.csv')

In [159]:
# encode text features to numerical
numerical = combined_df
numerical['period'] = pd.Categorical(numerical['period']).codes
numerical['day_of_week'] = pd.Categorical(numerical['day_of_week']).codes
numerical['is_weekend'] = pd.Categorical(numerical['is_weekend']).codes
numerical['weatherDesc'] = pd.Categorical(numerical['weatherDesc']).codes
numerical

,actual,price,year,month,day,hour,period,day_of_week,is_weekend,humidity,...,visibility,pressure,cloudcover,dewPointC,uvIndex,feelsLikeC,civic_aqi,florey_aqi,monash_aqi,aggregate_aqi
2015-01-01 00:00:00,7057.51,49.08,2015.0,1.0,1.0,0.0,3,4,0,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,30.0,14.0,25.0,23.000000
2015-01-01 01:00:00,6668.71,47.25,2015.0,1.0,1.0,1.0,3,4,0,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,30.0,14.0,26.0,23.333333
2015-01-01 02:00:00,6056.02,34.86,2015.0,1.0,1.0,2.0,3,4,0,99.0,...,0.0,1014.0,100.0,14.0,1.0,15.0,31.0,14.0,26.0,23.666667
2015-01-01 03:00:00,5711.33,31.63,2015.0,1.0,1.0,3.0,3,4,0,99.0,...,0.0,1013.0,100.0,14.0,1.0,15.0,32.0,14.0,26.0,24.000000
2015-01-01 04:00:00,5625.27,31.60,2015.0,1.0,1.0,4.0,3,4,0,94.0,...,3.0,1014.0,71.0,14.0,1.0,15.0,33.0,14.0,26.0,24.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,7022.42,36.06,2023.0,12.0,31.0,19.0,1,3,1,79.0,...,10.0,1021.0,93.0,10.0,1.0,13.0,24.0,30.0,26.0,26.666667
2023-12-31 20:00:00,6948.44,54.95,2023.0,12.0,31.0,20.0,1,3,1,81.0,...,10.0,1022.0,96.0,10.0,1.0,13.0,24.0,30.0,26.0,26.666667
2023-12-31 21:00:00,6801.37,54.95,2023.0,12.0,31.0,21.0,1,3,1,83.0,...,10.0,1023.0,92.0,10.0,1.0,13.0,23.0,30.0,26.0,26.333333
2023-12-31 22:00:00,6925.23,48.26,2023.0,12.0,31.0,22.0,1,3,1,84.0,...,10.0,1023.0,79.0,11.0,1.0,12.0,23.0,30.0,26.0,26.333333
2023-12-31 23:00:00,6727.01,57.95,2023.0,12.0,31.0,23.0,1,3,1,84.0,...,10.0,1022.0,55.0,10.0,1.0,12.0,22.0,29.0,26.0,25.666667

In [160]:
numerical.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 78888 entries, 2015-01-01 00:00:00 to 2023-12-31 23:00:00
Freq: h
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   actual         78888 non-null  float64
 1   price          78888 non-null  float64
 2   year           78888 non-null  float64
 3   month          78888 non-null  float64
 4   day            78888 non-null  float64
 5   hour           78888 non-null  float64
 6   period         78888 non-null  int8
 7   day_of_week    78888 non-null  int8
 8   is_weekend     78888 non-null  int8
 9   humidity       78888 non-null  float64
 10  tempC          78888 non-null  float64
 11  heatIndexC     78888 non-null  float64
 12  precipMM       78888 non-null  float64
 13  windspeedKmph  78888 non-null  float64
 14  winddirDegree  78888 non-null  float64
 15  windGustKmph   78888 non-null  float64
 16  weatherDesc    78888 non-null  int8
 17  visibility     78888 non-null  float64
 18  pressure       78888 non-null  float64
 19  cloudcover     78888 non-null  float64
 20  dewPointC      78888 non-null  float64
 21  uvIndex        78888 non-null  float64
 22  feelsLikeC     78888 non-null  float64
 23  civic_aqi      78888 non-null  float64
 24  florey_aqi     78888 non-null  float64
 25  monash_aqi     78888 non-null  float64
 26  aggregate_aqi  78888 non-null  float64
dtypes: float64(23), int8(4)
memory usage: 14.7 MB

In [161]:
numerical.to_csv('../external_data/demand/demand_data_all_nsw_numerical.csv')